html, body{
    margin:0px;
    padding:0px;
}
.fa:hover {
    color: rgb(56, 98, 187) !important;
}
.panel, table {
    border: 10px solid primary;
    
}
.page-header{
    padding-bottom:15px;
}
#page-inner{
    padding-top:0px;   
}

.dropdown-menu {
    padding: 14px;
}
.a, a:active, a:focus {
    outline:none;
}
.panel-heading {
    border-radius: 0px;
}