html, body{
    margin:0px;
    padding:0px;
}
.fa:hover {
    color: rgb(56, 98, 187) !important;
}
.panel, table {
    border: 5px solid primary;    
}
.page-header{
    padding-bottom:15px;
}
#page-inner{
    padding-top:0px;   
}

.dropdown-menu {
    padding: 14px;
    min-width: 220px !important;
}
.a, a:active, a:focus {
    outline:none;
}
.panel-heading {
    border-radius: 0px;
    margin: 0px;
}
.panel-body {
    padding: 0px !important;
}
#upload {
    padding: 20px !important;
}
.table {
    margin: 0px !important;
}
.table-responsive {
    line-height: 0px;
}
.btn {
    border-radius: 0px;
}
.pagination {
    margin: 0px;
}